#layout-header {
    background-color: #16c64f;
    width: 100%;
    height: 52px;
    position: relative;
    z-index: 112;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    width: 1079px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

#main-logo {
    width: 144px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#main-logo p {
    text-decoration: none;
    color: #FFF;
    outline: none;
    margin-left: 5px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    font-size: 25px;

    
}
nav {
    height: 100%;
    background-color: #16c64f;
    border: none;
    box-shadow: none;
}

#main-nav{
    flex-grow: 1;
    margin: 0 90px;
    height: 100%;
}
#main-nav ul{
    width: 637px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#main-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#main-nav li a{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

#right-nav {
    height: 29px;
    width: 118px;
}

#right-nav a {
    padding: 0;
}


#right-nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

#right-nav li:first-child {
    margin-right: 20px;
}

#right-nav li:last-child {
    margin-left: 35px;
}


