/* 
    * {
    border: none;
    color: #2E312D;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

}

*/


body {
    background-color: rgb(252, 252, 252);
   
}

a {
    outline: none;
    text-decoration: none;
}

.layout-section {
    margin-top: 35px;
    
}

.section {
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;



    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;
    align-items: flex-start;
    width: 100%;
    
    height: auto;

}




