   

body {
    background-color: rgb(252, 252, 252);
   
}

.layout-section {
    margin-top: 35px;
    
}

.section {
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    


    margin-right: auto;
    margin-left: auto;
    margin-bottom: 200px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;
    align-items: flex-start;
    width: 100%;
    
    height: auto;

}





