

.modal-content {
    display: flex;
    padding: 50px 64px 42px;
    
}
.button-wrapper{
    display: flex;
   justify-content: end;
    
}

.header h5 {
    margin-bottom: 30px;
}

.inputRow {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.inputRow label {
    font-size: 13px;
    line-height: 13px;
    color: #858782;
    text-align: left;
    display: block;
    margin-bottom: 7px;
}

.inputRow .groupField:first-of-type{
    width: 100%;
}

.groupField #input-modal-desc,#input-modal-data {
    width: 100%;
}

.groupField input {
    border: 2px solid #EBEBEB;
    border-radius: 3px;
    background: #FEFDF9;
    line-height: 18px;
    padding: 7px 8px;
    float: left;
    transition: all 0.15s ease-out 0s;
    color: #2E312D;
    font-size: 13px;
    width: 50%;
    margin-bottom: 5px;
}

.groupField select {
    border: 2px solid #EBEBEB;
    border-radius: 3px;
    background: #FEFDF9;
    line-height: 18px;
    padding: 7px 8px;
    float: left;
    transition: all 0.15s ease-out 0s;
    color: #2E312D;
    font-size: 13px;
    width: 50%;
    margin-bottom: 5px;
}

