
body {
    background-color: rgb(252, 252, 252);
    /*  TENTAR COLOCAR CSS RAIZ NA PASTA RESOURCE, usando vite ou laravel mix.   */
}

.container-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-overview {
    font-family: "Inter", sans-serif;
    width: 1079px;
    height: 208px;
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px ;

    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: row;
}

.budget-overview {
    display: flex;
    flex-direction: row;

    width: 587px;
    height: 67px;
}

.greeting {
    height: 43px;
    
}

.greeting p:first-child {
    border: none;
    color: #5c5f5a;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.greeting p:last-child {
    display: flex;
    align-items: center;
    color: #2e312d;
    font-size: 18px;
    font-weight: 600;
    margin-top: 4px;
    height: 23px;
}

.box-leftside {
    width: 100%;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-right: 30px;
    border-right: 1px rgb(236, 236, 236) solid;
}


.budget-blocks {
    height: 67px;
    width: 179px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.budget-blocks label {
    font-size: 14px;
    color: #787878;
    font-weight: 400;
}

.budget-blocks strong {
    display: flex;
    font-size: 18px;
    font-weight: 6px;
}

.box-rightside {
    width: 100%;
    height: 146px;

    padding-left: 30px;
}

.quick-actions .label  p{
    color: #2e312d;
    font-size: 17px;
    font-weight: 600;
    line-height: 17px;

    margin: 0;
}

.quick-actions ul {
    display: flex;
    flex-direction: row;

    margin-top: 24px;
}

.quick-actions li {
    margin-right: 11px;
    display: flex;
    border: 1px solid #f2f4ef;
    background: #ffffff;
    border-radius: 10px;

    text-decoration: none;
    color: #2e312d;
}

.quick-actions i {
    font-size: 43px
}

.quick-actions a {
    width: 82px;
    height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 18px;
}

.quick-actions .btn-title {
    text-decoration: none;
    font-size: 12px;
    margin-top: 7px;
    color: #2e312d;
}


.custom-tooltip .material-tooltip {
    background-color: white !important; /* Mudar o fundo para branco */
    border-radius: 8px !important;      /* Bordas arredondadas */
    color: black !important;            /* Mudar a cor do texto */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important; /* Sombra suave */
}


.custom-tooltip .material-tooltip:before {
    border-color: white transparent transparent transparent !important; /* Cor do triângulo */
}