body {
    background-color: rgb(252, 252, 252);
    /*  TENTAR COLOCAR CSS RAIZ NA PASTA RESOURCE, usando vite ou laravel mix.   */
}

.layout-section {
    margin-top: 35px;
    
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1109px;



    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-wallet {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: auto;

}

